

  .nav_logo{
      margin-left: 500px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .cart_icon{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  body {
    font-family: "Dosis", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: black;
    background-color: white;
  }
  
  h2,
  h3,
  h4 {
    font-weight: 600;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
  }
  
  a {
    text-decoration: none;
  }
  
  ul,
  li {
    list-style: none;
  }
  
  .container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 1.6rem;
  }
  


  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem 0;
    color: gray;
    line-height: 1.5rem;
    background-color: black;
  }
  
  .hamburger {
    display: none;
  }
  
  .nav_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .nav_logo {
    font-size: 2rem;
    color: gray;
    margin-left: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .nav_logo span {
    color: gray;
  }
  
  .nav_list {
    display: flex;
    align-items: center;
    
  }
  .cart {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    width: 70%;
    height: 80%;
    padding: 1.6rem;
    border-radius: 2rem;
    z-index: 3;
    overflow-y: scroll;
    background-color: black;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
  }
  
  .cart.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }
  
  .cart_overlay.show {
    visibility: visible;
  }
  
  .close_cart {
    cursor: pointer;
  }
  
  .close_cart svg {
    fill: white;
    transition: all 300ms ease-in-out;
  }
  
  .close_cart:hover svg {
    fill: red;
  }
  
  .cart svg {
    width: 1.8rem;
    height: 1.8rem;
  }
 
  
  
  .cart_icon {
    position: relative;
    cursor: pointer;
  }
  
  .cart_icon h2 {
    font-weight: 700;
    
  }
  
  .cart_icon span {
    position: absolute;
    top: -1rem;
    right: -2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 50%;
  }
  
  
  
  .products {
    padding: 15rem 0;
  }
  
  .product_center {
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem 1rem;
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  }
  
  .product_footer {
    padding: 1rem;
    width: 100%;
  }
  
  .product_footer h1 {
    font-size: 2rem;
  }
  
  
  
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  
  .btn {
    display: inline-block;
    border: 1px solid black;
    padding: 1rem 1.8rem;
    color: white;
    font-weight: 600;
    font-size: 1.7rem;
    cursor: pointer;
    background-color: black;
    transition: all 300ms ease-in-out;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  
  .price {
    font-weight: 700;
    font-size: 1.8rem;
  }
  
 
  .cart_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    z-index: 2;
    color: white;
  }
  
  
  
  .cart h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .cart_item svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: white;
  }
  
  .cart_item {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 70%;
    margin: 2rem auto;
    color: white;
    
  }
  
  .cart_item div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cart_item div span {
    cursor: pointer;
  }
  
  .cart_item img {
    width: 9.5rem;
    height: 9.5rem;
    border-radius: 50%;
  }
  
  .cart_item h3 {
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
  
  .cart_item .price {
    color: white;
    font-weight: 700;
  }
  
  .cart_item p {
    font-weight: 700;
  }
  
  .cart_item .remove_item {
    cursor: pointer;
  }
  
  .cart_item .remove_item svg {
    fill: red;
  }
  
  
  

  
  .cart_footer {
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .cart_footer h3 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .cart_footer .btn {
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    background-color: orange;
    border: none;
    margin-top: 2rem;
  }
  
  .cart_footer .btn:focus {
    outline: none;
  }
  

  .image_container{
      height: 250px;
  }
  .btn_group{
      margin-left: 80px;
  }
  .nav_list{
      height: 50px;
  }